Repository o3de/o3de.org, pull requests merged in 2021-12, with the labels that each got.

#1106 Network Hierarchies reference doc.
  content/docs/learning-guide/tutorials/multiplayer/first-multiplayer-component.md
  content/docs/user-guide/gems/reference/multiplayer/_index.md
  content/docs/user-guide/gems/reference/multiplayer/multiplayer-gem/autocomponents.md
  content/docs/user-guide/gems/reference/multiplayer/multiplayer-gem/hierarchy.md
  static/images/user-guide/gems/reference/multiplayer/hierarchy_child_entity_with_input_processing.png
  static/images/user-guide/gems/reference/multiplayer/hierarchy_child_entity_with_input_processing_component.png
  static/images/user-guide/gems/reference/multiplayer/hierarchy_root_with_local_prediction_component.png
  static/images/user-guide/gems/reference/multiplayer/imgui_hierarchy_debugger_overlay.png
  static/images/user-guide/gems/reference/multiplayer/simple_hierarchy.png
  static/images/user-guide/gems/reference/multiplayer/simple_hierarchy_prefab.png
  static/images/user-guide/gems/reference/multiplayer/starting_hierarchy_child_entity.png
  static/images/user-guide/gems/reference/multiplayer/starting_hierarchy_root_entity.png
  static/images/user-guide/gems/reference/multiplayer/starting_network_entity.png
  static/images/user-guide/gems/reference/multiplayer/turning_on_imgui_hierarchy_debugger.png
Labels: sig/network

#1232 Staging/2111 release notes clean
  content/docs/contributing/_index.md
  content/docs/contributing/release-versioning-and-terms.md
  content/docs/release-notes/_index.md
  content/docs/release-notes/archive/21-11-release-notes.md
  content/docs/release-notes/archive/2107-1-release-notes.md
  content/docs/release-notes/archive/_index.md
  static/images/release-notes/2111-1/linux-desktop.png
  static/images/release-notes/2111-1/terrain.png
Labels: do-not-merge/in-review

#1119 Tutorial | Custom Shape Tool in C++ and Python
  content/docs/learning-guide/tutorials/_index.md
  content/docs/learning-guide/tutorials/extend-the-editor/_index.md
  content/docs/learning-guide/tutorials/extend-the-editor/shape-example-cpp.md
  content/docs/learning-guide/tutorials/extend-the-editor/shape-example-py.md
  static/images/learning-guide/tutorials/extend-the-editor/shape-example/buttons.png
  static/images/learning-guide/tutorials/extend-the-editor/shape-example/combo-box.png
  static/images/learning-guide/tutorials/extend-the-editor/shape-example/cpp-shape-example-demo.png
  static/images/learning-guide/tutorials/extend-the-editor/shape-example/cpp-shape-example-ui.png
  static/images/learning-guide/tutorials/extend-the-editor/shape-example/cpp-tool-gem-template-directory.png
  static/images/learning-guide/tutorials/extend-the-editor/shape-example/cpp-tool-gem-template-in-editor.png
  static/images/learning-guide/tutorials/extend-the-editor/shape-example/icon.png
  static/images/learning-guide/tutorials/extend-the-editor/shape-example/input-field-check-box.png
  static/images/learning-guide/tutorials/extend-the-editor/shape-example/python-shape-example-demo.png
  static/images/learning-guide/tutorials/extend-the-editor/shape-example/python-shape-example-in-editor.png
  static/images/learning-guide/tutorials/extend-the-editor/shape-example/python-shape-example-ui.png
  static/images/learning-guide/tutorials/extend-the-editor/shape-example/python-tool-gem-template-directory-2.png
  static/images/learning-guide/tutorials/extend-the-editor/shape-example/python-tool-gem-template-directory.png
  static/images/learning-guide/tutorials/extend-the-editor/shape-example/python-tool-gem-template-in-editor.png
Labels: pr-ready-to-merge
