Repository o3de/o3de.org, pull requests merged in 2021-08, with the labels that each got.

#767 Update Kythera setup guide to use the project centric workflow
  content/docs/user-guide/gems/reference/kythera-ai/kythera-ai-gem-setup.md
  static/images/user-guide/gems/kythera-ai/project-manager-project-menu-build.png
Labels: do-not-merge/in-review

#736 New tutorial content "Kythera City Level Overview"
  content/docs/learning-guide/samples/ai/kythera-city-level-overview.md
  content/docs/learning-guide/tutorials/ai/_index.md
  static/images/learning-guide/tutorials/ai/kythera-city-actors.png
  static/images/learning-guide/tutorials/ai/kythera-city-inspector-bbview.png
  static/images/learning-guide/tutorials/ai/kythera-city-inspector-bteditor.png
  static/images/learning-guide/tutorials/ai/kythera-city-navmesh-basic.png
  static/images/learning-guide/tutorials/ai/kythera-city-navmesh-bounds-dialog.png
  static/images/learning-guide/tutorials/ai/kythera-city-navmesh-bounds.png
  static/images/learning-guide/tutorials/ai/kythera-city-navmesh-customize.png
  static/images/learning-guide/tutorials/ai/kythera-city-navmesh-generate.png
  static/images/learning-guide/tutorials/ai/kythera-city-navmesh-save.png
  static/images/learning-guide/tutorials/ai/kythera-city-octree-console.png
  static/images/learning-guide/tutorials/ai/kythera-city-octree-dialog.png
  static/images/learning-guide/tutorials/ai/kythera-city-octree-regenerate.png
  static/images/learning-guide/tutorials/ai/kythera-city-octree.png
  static/images/learning-guide/tutorials/ai/kythera-city-point-of-interest.png
  static/images/learning-guide/tutorials/ai/kythera-city-robot.png
  static/images/learning-guide/tutorials/ai/kythera-city-ship.png
  static/images/learning-guide/tutorials/ai/kythera-city-spaceship.png
  static/images/learning-guide/tutorials/ai/kythera-city-spline-dialog.png
  static/images/learning-guide/tutorials/ai/kythera-city-spline.png
Labels: do-not-merge/in-review, gems/ai, needs-edit

#838 Add initial Terrain Gem documentation
  content/docs/user-guide/gems/reference/terrain/_index.md
Labels: feature/gems
